@page "/acceptance"
@layout MainLayoutAcceptance
@using Syncfusion.Blazor.PivotView

<PageTitlePat Title="SMP (Acceptance) - Dashboard" />

<BreadcrumbAccess OnAuthenticationCheck="AuthenticationCheck" Paths="@Paths" />

<style>

    /*Value Cells*/
    .e-pivotview .e-valuescontent {
        text-align: center !important;
    }

    /*Columns Headers*/
    .e-pivotview .e-columnsheader {
        text-align: center !important;
    }

    /*Rows Headers*/
    .e-pivotview .e-rowsheader {
        text-align: center !important;
    }

    /*Summary Cells*/
    .e-pivotview .e-summary {
        text-align: center !important;
    }

    .e-pivotview .e-headercell {
        background-color: #ffcb05 !important;
        text-align: center;
    }

    .e-scrollbar {
        display: none !important;
    }

    .e-pivotview .e-rowsheader {
        background-color: #1b6ec2 !important;
    }

    .e-pivotview .e-summary:not(.e-gtot) {
        background-color: pink !important;
    }

    .e-pivotview .e-gtot {
        background-color: black !important;
        color: #ffffff !important;
    }

    .e-pivotview .e-stackedheadercelldiv, .e-pivotview .e-headertext, .e-pivotview .e-rowsheader .e-cellvalue {
        color: #ffffff !important;
    }

    .e-pivotview .e-headertext {
        text-align: center !important;
        color: #000000 !important;
    }
</style>

<SfDatePicker TValue="DateTime" @bind-Value="@DateData" Format="d.M.yyyy" Width="10em">
    <DatePickerEvents TValue="DateTime" ValueChange="SetMyDate"></DatePickerEvents>
</SfDatePicker>


@if (DailyRequests == null)
{
    <PageLoading />
}
else
{
    var dateString = (DateIsToday) ? $"Today - {DateData.Date.ToString("d")}" : $"on {DateData.Date.ToString("d")}";

    <h6 class="display-6 my-3">Total Acceptance @dateString </h6>

    @*<SfButton OnClick="@calc" IsPrimary="true">Calculated Field</SfButton>*@

    <SfPivotView @ref="pivot" TValue="AcceptanceDTO" AllowExcelExport="true" EnableVirtualization="true" Width="100%"
             EnableValueSorting="true" ShowTooltip="false" AllowCalculatedField="true" AllowDrillThrough="true">
        <PivotViewTemplates>
            <CellTemplate>
                @{
                    var data = (context as AxisSet);
                    if (data != null)
                    {
                        if (data.Axis == "value" && (string)data.ColumnHeaders == "3G PHY")
                        {
                            var value = 0;

                            if ((string)data.RowHeaders == "")
                            {
                                value = this.DailyRequests.Count(x => x.UMTSPhyCount == 1);
                            }
                            else
                            {
                                value = this.DailyRequests.Where(x => x.Vendor == (string)data.RowHeaders).Count(x => x.UMTSPhyCount == 1);
                            }

                            @value
                        }

                        else if (data.Axis == "value" && (string)data.ColumnHeaders == "4G PHY")
                        {
                            var value = 0;

                            if ((string)data.RowHeaders == "")
                            {
                                value = this.DailyRequests.Count(x => x.LTEPhyCount == 1);
                            }
                            else
                            {
                                value = this.DailyRequests.Where(x => x.Vendor == (string)data.RowHeaders).Count(x => x.LTEPhyCount == 1);
                            }

                            @value
                        }

                        else
                        {
                            @data.FormattedText
                        }
                    }
                }
            </CellTemplate>
        </PivotViewTemplates>
        <PivotViewDataSourceSettings DataSource="@DailyRequests" EnableSorting="false" ShowColumnGrandTotals="false" ShowAggregationOnValueField="false"
                                 ShowHeaderWhenEmpty="true">
            <PivotViewColumns>
                <PivotViewColumn Name="Spectrum"></PivotViewColumn>
            </PivotViewColumns>
            <PivotViewRows>
                <PivotViewRow Name="Vendor"></PivotViewRow>
            </PivotViewRows>
            <PivotViewValues>
                <PivotViewValue Name="AcceptanceCount" Caption="Acceptance By Vendor"></PivotViewValue>
            </PivotViewValues>
            <PivotViewFormatSettings>
                <PivotViewFormatSetting Name="UMTSPhyCount" Format="N"></PivotViewFormatSetting>
                <PivotViewFormatSetting Name="LTEPhyCount" Format="N"></PivotViewFormatSetting>
            </PivotViewFormatSettings>
        </PivotViewDataSourceSettings>
        @*<PivotViewDisplayOption View=View.Chart></PivotViewDisplayOption>
            <PivotChartSettings Title="Daily Acceptance">
            <PivotChartSeries Type=ChartSeriesType.Column></PivotChartSeries>
            </PivotChartSettings>*@
        <PivotViewGridSettings AllowResizing="false" AutoFit="false" AllowTextWrap="true" AllowSelection="true"></PivotViewGridSettings>
    </SfPivotView>
}

@if (MonthlyProjectTypeRequests == null)
{
    <PageLoading />
}
else
{
    var dateString = (DateWthMth) ? $"in {DateData.Date.ToString("MMMM yyyy")}" : $"in {DateData.Date.ToString("MMMM yyyy")}";

    <h6 class="display-6 my-3">Project Type: Total Acceptance @dateString </h6>

    <SfPivotView TValue="AcceptanceDTO" AllowExcelExport="true" EnableVirtualization="true" Width="100%" Height="500"
             EnableValueSorting="true" ShowTooltip="false">
        <PivotViewTemplates>
            <CellTemplate>
                @{
                    var data = (context as AxisSet);
                    if (data != null)
                    {
                        if (data.Axis == "value" && (string)data.ColumnHeaders == "3G PHY")
                        {
                            var value = this.MonthlyProjectTypeRequests.Where(x => x.ProjectType == (string)data.RowHeaders).Count(x => x.UMTSPhyCount == 1);
                            
                            @value
                        }

                        else if (data.Axis == "value" && (string)data.ColumnHeaders == "4G PHY")
                        {
                            var value = this.MonthlyProjectTypeRequests.Where(x => x.ProjectType == (string)data.RowHeaders).Count(x => x.LTEPhyCount == 1);
                            
                            @value
                        }

                        else
                        {
                            @data.FormattedText
                        }
                    }
                }
            </CellTemplate>
        </PivotViewTemplates>
        <PivotViewDataSourceSettings DataSource="@MonthlyProjectTypeRequests" EnableSorting="false" ShowGrandTotals="false">
            <PivotViewColumns>
                <PivotViewColumn Name="Spectrum"></PivotViewColumn>
            </PivotViewColumns>
            <PivotViewRows>
                <PivotViewRow Name="ProjectType"></PivotViewRow>
            </PivotViewRows>
            <PivotViewValues>
                <PivotViewValue Name="AcceptanceCount" Caption="Acceptance By Project Type"></PivotViewValue>
            </PivotViewValues>
            <PivotViewFormatSettings>
                <PivotViewFormatSetting Name="UMTSPhyCount" Format="N"></PivotViewFormatSetting>
                <PivotViewFormatSetting Name="LTEPhyCount" Format="N"></PivotViewFormatSetting>
            </PivotViewFormatSettings>
        </PivotViewDataSourceSettings>
        <PivotViewGridSettings RowHeight="50" AllowResizing="false" AutoFit="false" AllowTextWrap="true"></PivotViewGridSettings>
    </SfPivotView>
}

@if (MonthlyRequests == null)
{
    <PageLoading />
}
else
{
    var dateString = (DateWthMth) ? $"in {DateData.Date.ToString("MMMM yyyy")}" : $"in {DateData.Date.ToString("MMMM yyyy")}";

    <h6 class="display-6 my-3">Vendor: Total Acceptance @dateString </h6>

    <SfPivotView TValue="AcceptanceDTO" AllowExcelExport="true" EnableVirtualization="true" Width="100%" Height="500"
             EnableValueSorting="true" ShowTooltip="false">
        <PivotViewTemplates>
            <CellTemplate>
                @{
                    var data = (context as AxisSet);
                    if (data != null)
                    {
                        if (data.Axis == "value" && (string)data.ColumnHeaders == "3G PHY")
                        {
                            var value = 0;

                            if ((string)data.RowHeaders == "")
                            {
                                value = this.MonthlyRequests.Count(x => x.UMTSPhyCount == 1);
                            }
                            else
                            {
                                value = this.MonthlyRequests.Where(x => x.Vendor == (string)data.RowHeaders).Count(x => x.UMTSPhyCount == 1);
                            }

                            @value
                        }

                        else if (data.Axis == "value" && (string)data.ColumnHeaders == "4G PHY")
                        {
                            var value = 0;
                            
                            if ((string)data.RowHeaders == "")
                            {
                                value = this.MonthlyRequests.Count(x => x.LTEPhyCount == 1);
                            }
                            else
                            {
                                value = this.MonthlyRequests.Where(x => x.Vendor == (string)data.RowHeaders).Count(x => x.LTEPhyCount == 1);
                            }

                            @value
                        }

                        else
                        {
                            @data.FormattedText
                        }
                    }
                }
            </CellTemplate>
        </PivotViewTemplates>
        <PivotViewDataSourceSettings DataSource="@MonthlyRequests" EnableSorting="false" ShowColumnGrandTotals="false">
            <PivotViewColumns>
                <PivotViewColumn Name="Spectrum"></PivotViewColumn>
            </PivotViewColumns>
            <PivotViewRows>
                <PivotViewRow Name="Vendor"></PivotViewRow>
            </PivotViewRows>
            <PivotViewValues>
                <PivotViewValue Name="AcceptanceCount" Caption="Acceptance By Vendor"></PivotViewValue>
            </PivotViewValues>
            <PivotViewFormatSettings>
                <PivotViewFormatSetting Name="UMTSPhyCount" Format="N"></PivotViewFormatSetting>
                <PivotViewFormatSetting Name="LTEPhyCount" Format="N"></PivotViewFormatSetting>
            </PivotViewFormatSettings>
        </PivotViewDataSourceSettings>
        <PivotViewGridSettings AllowResizing="false" AutoFit="false" AllowTextWrap="true"></PivotViewGridSettings>
    </SfPivotView>
}

<div class="my-4"></div>